# ============================
# Node Modules
# ============================
node_modules/
**/node_modules/

# ============================
# Environment files
# ============================
.env
*.env
!example.env

# ============================
# Logs
# ============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ============================
# Build outputs
# ============================
build/
dist/
out/

# ============================
# Frontend specific
# ============================
.vite/
.next/
.cache/

# ============================
# System Files
# ============================
.DS_Store
Thumbs.db

# ============================
# Docker
# ============================
docker-data/
*.pid
